 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>As we compiled the available resources for Breast Cancer, we found one common theme: there is <em>a lot</em> of information available online, and it can be overwhelming for women to do extensive research to find what they need.</p>
                </div>
                <div class="col-lg-4">
                    <p>We decided that an optimal way to make this information accessible was to develop a chatbot. This way, each user has a personalized experience based on what they need. Interact with the chatbot on this webpage to see it in action! </p>
                </div>
            </div>
        </div>
    </section>
